[submodule "3dparty/entityx"]
	path = 3dparty/entityx
	url = git@github.com:Frozen-Team/entityx.git
[submodule "3dparty/sdl"]
	path = 3dparty/sdl
	url = git@github.com:Frozen-Team/SDL-mirror.git
[submodule "3dparty/rapidjson"]
	path = 3dparty/rapidjson
	url = git@github.com:Frozen-Team/rapidjson.git
[submodule "3dparty/easyloggingpp"]
	path = 3dparty/easyloggingpp
	url = git@github.com:Frozen-Team/easyloggingpp.git
[submodule "3dparty/cppformat"]
	path = 3dparty/cppformat
	url = git@github.com:Frozen-Team/cppformat.git
[submodule "tools/styleguide"]
	path = tools/styleguide
	url = git@github.com:Frozen-Team/styleguide.git
[submodule "3dparty/eigen"]
	path = 3dparty/eigen
	url = git@github.com:Frozen-Team/eigen.git

[submodule "3dparty/gli"]
	path = 3dparty/gli
	url = git@github.com:Frozen-Team/gli.git
[submodule "3dparty/glew"]
	path = 3dparty/glew
	url = git@github.com:Frozen-Team/glew.git
